@import "components/navbar.css";
@import "components/heather.css";
@import "components/pages.css";

@import "screens/home.css";
@import "screens/help.css";

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.animal_emoji {
  font-size: 130px;
}
