.recommendations {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  text-decoration: underline;
}

.help_box {
  border: black solid 10px;
  border-radius: 15px;
  margin: 40px 150px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.help_box div {
  margin: 15px 0px;
  font-size: 30px;
  width: 40%;
}

.help_box div img {
  width: 20px;
  height: 20px;
}
