.main_nav {
  background-color: tomato;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0px 70px;
  margin-bottom: 40px;
}

.nav_btn {
  font-size: 30px;
  font-weight: bold;
}
